* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right,#0a1e59, #364a73);
    
}
div {
   background-color:black;
   position: absolute; 
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   padding: 80px;
   border-radius: 15px;
   font-size: 2rem;
   text-align: center;
   color: #f2f2f2;


}

input.botao{
    padding: 18px;
    font-size: 1.2rem;
    width: 100%;
    outline: none;

}

