
body{
    background-image: linear-gradient(to right, #0A1E59,#364A73);
    font-family: Arial, Helvetica, sans-serif;
    
}

div{
    font-size: 1.3rem;
    text-align: center;
    background-color: rgba(0, 0, 0,0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
    border-radius: 15px;
    color: #f2f2f2;

   
 }

 @media (max-width:320px) {
     input.botao{
         width: 100%;
         overflow-x: hidden;
         
         
     }
 }

 input.botao{
     padding: 18px;
     border-radius: 10px;
     font-size: 1.3rem;
     outline: none;
     border: none;
     cursor: pointer;
     width: 100%;
    
 }

 input.botao:hover {
    background-color: rgba(0, 0, 0,0.5);
    color: #f2f2f2;

 }


 