*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #0A1E59,#364A73);
    
    
}

div{
    font-size: 1.3rem;
    text-align: center;
    background-color: rgba(0, 0, 0,0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
    border-radius: 15px;
    color: #f2f2f2;

 }

 input.dados {
     padding: 15px;
     border-radius: 8px;
     outline: none;
     border: none;
     font-size: 1.3rem;
 }

 input.botao {
     color: #f2f2f2;
     background-color: #0A1E59;
     text-align: center;
     padding: 15px;
     border-radius: 8px;
     outline: none;
     border: none;
     cursor: pointer;
     font-size: 1.3rem;
 }

 input.botao:hover {
     background-color: #364A73;
     

 }

